.comments__list__item {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  border: solid 1px rgb(88, 88, 88);
  border-radius: 20px;
  color: #000;
  padding: 10px;
  margin-bottom: 15px;
}

.comments__list__item-name {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.comments__list__item-text {
  color: rgb(46, 46, 46);
  margin-left: 15px;
  margin-top: 5px;
}

.comments__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.comments__list__show-more-button {
  width: 90px;
  height: 90px;
  border: 1px solid #363636;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000;
  margin: 15px;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
}

.comments__list__show-more-button:hover {
  border: 1px solid #b1b1b1;
  color: #3a3a3a;
}
