.comment-form {
  background-color: #d3d3d3;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
  font-size: 15px;
  padding: 10px;
}

.comment-input {
  margin: 8px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 5px;
}

.comment-submit {
  background-color: #797979;
  color: #ffffff;
}
